# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [36]:
!pip install -U scipy

Requirement already satisfied: scipy in ./anaconda3/lib/python3.10/site-packages (1.11.1)
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in ./anaconda3/lib/python3.10/site-packages (from scipy) (1.23.5)

In [37]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [38]:
# Your code here:
data= pd.read_csv("/Users/lenovo1/Downloads/lab-Hypothesis-Testing/Salaries.csv")

/var/folders/mm/cjv4cnl90rz3rsp85pkv7wk80000gp/T/ipykernel_25710/1423890457.py:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data= pd.read_csv("/Users/lenovo1/Downloads/lab-Hypothesis-Testing/Salaries.csv")

Examine the `salaries` dataset using the `head` function below.

In [39]:
# Your code here:

In [40]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [41]:
# Your code here:

In [42]:
data.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Get the shape of the dataframe

In [43]:
# Your code here

In [44]:
data.shape

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [45]:
# Your code here

In [46]:
data.drop(columns="Notes", inplace=True)
data.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [47]:
# Your code here

In [48]:
data['Status'].unique()

array([nan, 'PT', 'FT'], dtype=object)

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [49]:
# Your code here

In [50]:
# Your code here

In [51]:
data.dropna(axis=0,subset=['Status'], inplace=True)
data.isna().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Check out the types of each column and see if they make sense.

In [52]:
# Your code here

In [53]:
data.dtypes
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  object
 4   OvertimePay       38119 non-null  object
 5   OtherPay          38119 non-null  object
 6   Benefits          38119 non-null  object
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.8+ MB

In [54]:
# Your code here

Do any type conversions and reset the index.

In [55]:
# Your code here

In [56]:
data[["BasePay", "OvertimePay", "OtherPay", "Benefits"]]=data[["BasePay", "OvertimePay", "OtherPay", "Benefits"]].apply(pd.to_numeric)

In [57]:
# Your code here

In [58]:
data.reset_index()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  float64
 4   OvertimePay       38119 non-null  float64
 5   OtherPay          38119 non-null  float64
 6   Benefits          38119 non-null  float64
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 3.8+ MB

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [59]:
# Your code here

In [60]:
data["check"]= data["BasePay"]+data["OvertimePay"]+data["OtherPay"]+data["Benefits"]
data["check"]=(data["check"]==data["TotalPayBenefits"])
data["check"]

110531     True
110532    False
110533     True
110534    False
110535     True
          ...
148645     True
148647     True
148648     True
148649     True
148653     True
Name: check, Length: 38119, dtype: bool

What is the percetage of employees for which the previous assumption is not True?

In [61]:
# Your code here:

In [62]:
data["check"].value_counts(normalize=True).mul(100)

True     73.708649
False    26.291351
Name: check, dtype: float64

There are different departments in the city. List all departments and the count of employees in each department.

In [63]:
# Your code here:

In [64]:
data.groupby(['JobTitle']).size().reset_index(name='Employees')

                           JobTitle  Employees
0       ACPO,JuvP, Juv Prob (SFERS)          1
1      ASR Senior Office Specialist         22
2              ASR-Office Assistant         15
3                     Account Clerk         93
4                      Accountant I          2
..                              ...        ...
991      Wire Rope Cable Maint Sprv          1
992      Worker's Comp Supervisor 1          6
993  Worker's Compensation Adjuster         26
994           X-Ray Laboratory Aide         35
995              Youth Comm Advisor          1

[996 rows x 2 columns]

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [65]:
# Your code here: (compute the "Hourly_Wage")
import scipy.stats as stats

In [66]:
import scipy.stats
data["hourly_wage"]=(data["TotalPayBenefits"]/50)/40

In [67]:
data["hourly_wage"]

110531    255.366340
110532    239.826105
110533    218.112180
110534    209.009610
110535    208.717550
             ...
148645      0.000000
148647      0.000000
148648      0.000000
148649      0.000000
148653     -0.309065
Name: hourly_wage, Length: 38119, dtype: float64

In [68]:
# Your code here: (Compute the mean hourly wage for all the "FT" employees)

In [69]:
sample = data[data['Status'] == 'FT']
hourly_wage = sample['TotalPayBenefits'] / (50 * 40)  # Calculate hourly wage

hourly_wage.mean()

69.26420640727143

In [70]:
len(sample)

22334

In [71]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees

In [72]:
from scipy.stats import ttest_1samp

sample = data[data['Status'] == 'FT']
hourly_wage = sample['TotalPayBenefits'] / (50 * 40)  # Calculate hourly wage
stat, pval = ttest_1samp(hourly_wage, popmean=69.26, alternative="two-sided")

print("T-statistic:", stat)
print("P-value:", pval)

T-statistic: 0.026258957878037385
P-value: 0.9790510250981259

In [73]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [74]:
pip install scipy

Requirement already satisfied: scipy in ./anaconda3/lib/python3.10/site-packages (1.11.1)
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in ./anaconda3/lib/python3.10/site-packages (from scipy) (1.23.5)
Note: you may need to restart the kernel to use updated packages.

In [75]:
quantile = stats.t.ppf(0.025, df=22333)
print(quantile)

-1.9600702128845597

In [76]:
stat

0.026258957878037385

In [77]:
# Method 2: Use the p-value method.
# Your code here:

In [78]:
print('pvalue for the two-tailed test is ', pval)

pvalue for the two-tailed test is  0.9790510250981259

In [79]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [80]:
ttest_1samp

Are all the methods in agreement?

We are also curious about salaries in the police force. The chief of police in San Francisco claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check in "Police" is in the "JobTitle" to get all the "Police" jobs.

In [81]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees

In [82]:
police=data.loc[data['JobTitle'].str.contains("Police", case=False)]
len(police)

1901

In [83]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [84]:
stat

0.026258957878037385

In [85]:
scipy.stats.t.ppf(0.05,df = 1900)

-1.645656004264731

In [86]:
# Method 2: Use the p-value method.
# Your code here:

In [87]:
print('pvalue for the two-tailed test is ', pval)

pvalue for the two-tailed test is  0.9790510250981259

In [88]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [89]:
ttest_1samp(police["TotalPayBenefits"], 86000)

TtestResult(statistic=50.252984742109945, pvalue=0.0, df=1900)

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [90]:
# Your code here: (Get the department which has most employees)

In [91]:
police=data.loc[data['JobTitle'].str.contains("Police", case=False)]
len(police)

1901

In [92]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider the right "JobTitle" employees

In [93]:
stat, pval = ttest_1samp(police["TotalPayBenefits"], popmean = 86000, alternative = "greater")

In [94]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [95]:
stat

50.252984742109945

In [96]:
scipy.stats.t.ppf(0.05,df = 1900)

-1.645656004264731

In [97]:
# Method 2: Use the p-value method.

print('pvalue for the two-tailed test is ', pval)

pvalue for the two-tailed test is  0.0

In [98]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [99]:
ttest_1samp(police["TotalPayBenefits"], 86000)

TtestResult(statistic=50.252984742109945, pvalue=0.0, df=1900)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

In [100]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:

In [101]:
import scipy.stats

confidence_level = 0.95
degrees_freedom = len(data) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(data["hourly_wage"])
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(data["hourly_wage"]) # sem = standard error of the mean = std(mean)/sqrt(samplesize)

sample_mean

50.130719334190296

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [102]:
# Your code here:

In [103]:
confidence_level = 0.95
degrees_freedom = len(police) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(police["hourly_wage"])
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(police["hourly_wage"]) # sem = standard error of the mean = std(mean)/sqrt(samplesize)

sample_mean

74.17452106259863

# Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [104]:
# Your code here: (Create the function)
import regex as re

def simplifier(x):
    
        if "Police" in x:
            return "Policemen"
            
         
        elif "Fire" in x:
            return "Firemen"
        elif "Med" in x:
            return "Medical"
        elif "Nurse" in x:
            return "Medical"
        elif "Attorney" in x:
            return "Lawyer"
        else:
            return "Other"

In [105]:
# Your code here: (Apply the function)

In [106]:
data["employee_group"] = data['JobTitle'].apply(simplifier)
data["employee_group"].unique()

array(['Other', 'Medical', 'Policemen', 'Firemen', 'Lawyer'], dtype=object)

Determine how many "PT" and "FT" employess have all the employees groups.

In [107]:
# Your code here: (Store the output dataframe into a new variable)

In [108]:
contingency=pd.crosstab(data["employee_group"], data["Status"], margins=True)
contingency

Status             FT     PT    All
employee_group
Firemen          1333    178   1511
Lawyer            317    102    419
Medical          1028   2889   3917
Other           18126  12245  30371
Policemen        1530    371   1901
All             22334  15785  38119

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [109]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:

In [110]:
import scipy.stats as st
st.chi2_contingency(np.array(contingency))

Chi2ContingencyResult(statistic=2676.642333711905, pvalue=0.0, dof=10, expected_freq=array([[  885.29798788,   625.70201212,  1511.        ],
       [  245.49295627,   173.50704373,   419.        ],
       [ 2294.97830478,  1622.02169522,  3917.        ],
       [17794.43096618, 12576.56903382, 30371.        ],
       [ 1113.79978488,   787.20021512,  1901.        ],
       [22334.        , 15785.        , 38119.        ]]))

In [111]:
st.chi2.ppf(0.95,df=4)

9.487729036781154

In [112]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT". Store the solution in a variable named "firemen_ft"

In [113]:
firemen_ft = (1511*22334)/(38119)
firemen_ft

885.2979878800598

In [114]:
# Your code here: Compute Expected frequency of being "Firemen" and "PT". Store the solution in a variable named "firemen_pt"

In [115]:
firemen_pt = (1511*15785)/(38119)
firemen_pt

625.7020121199402

In [116]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". Store the solution in a variable named "lawyers_ft"

In [117]:
lawyers_ft = (419*22334)/(38119)
lawyers_ft

245.4929562685275

In [118]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". Store the solution in a variable named "lawyers_pt"

In [119]:
lawyers_pt =(419*15785)/(38119)
lawyers_pt

173.5070437314725

In [120]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". Store the solution in a variable named "medical_ft"

In [121]:
medical_ft =  (3917*22334)/(38119)
medical_ft

2294.978304782392

In [122]:
# Your code here: Compute Expected frequency of being "Medical" and "PT". Store the solution in a variable named "medical_pt"

In [123]:
medical_pt =(3917*15785)/(38119)
medical_pt

1622.021695217608

In [124]:
# Your code here: Compute Expected frequency of being "Other" and "FT". Store the solution in a variable named "other_ft"

In [125]:
other_ft = (3917*22334)/(38119)
other_ft

2294.978304782392

In [126]:
# Your code here: Compute Expected frequency of being "Other" and "PT". Store the solution in a variable named "other_pt"

In [127]:
other_pt = (30371*15785)/(38119)
other_pt

12576.569033815158

In [128]:
# Your code here: Compute Expected frequency of being "Policement" and "FT". Store the solution in a variable named "policemen_ft"

In [129]:
policement_ft = (3917*22334)/(38119)
policement_ft

2294.978304782392

In [130]:
# Your code here: Compute Expected frequency of being "Policement" and "PT". Store the solution in a variable named "policemen_pt"

In [131]:
policement_pt = (30371*15785)/(38119)
policement_pt

12576.569033815158

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [132]:
# Your code here:

In [133]:
dic = {'FT' : [firemen_ft, lawyers_ft, medical_ft, other_ft, policement_ft],
      'PT': [firemen_pt, lawyers_pt, medical_pt, other_pt, policement_pt]}
frequencies = pd.DataFrame(dic)
frequencies

            FT            PT
0   885.297988    625.702012
1   245.492956    173.507044
2  2294.978305   1622.021695
3  2294.978305  12576.569034
4  2294.978305  12576.569034

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [134]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-valueYea we 
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function

In [135]:
scipy.stats.chi2_contingency(np.array(contingency))

Chi2ContingencyResult(statistic=2676.642333711905, pvalue=0.0, dof=10, expected_freq=array([[  885.29798788,   625.70201212,  1511.        ],
       [  245.49295627,   173.50704373,   419.        ],
       [ 2294.97830478,  1622.02169522,  3917.        ],
       [17794.43096618, 12576.56903382, 30371.        ],
       [ 1113.79978488,   787.20021512,  1901.        ],
       [22334.        , 15785.        , 38119.        ]]))